@import ~/.cache/wal/colors;

* {
  font-family: Cascadia Code;
  color: --wofi-color15;
}

window {
  background-color: --wofi-color0;
  border: 2px solid --wofi-color8;
  border-radius: 4px;
}

#outer-box {
  margin-bottom: 12px;
}

#input {
  border: none;
  background-color: --wofi-color0;
  color: --wofi-color15;
  margin: 7px;
  box-shadow: none; /* Remove "border" */
}

#inner-box {
  background-color: --wofi-color0;
  margin: 7px;
  margin-top: 0;
}

#entry {
  padding-left: 5px;
  border: none;
  margin-left: -5px;
  margin-right: -5px;
  outline: none;
}

#entry:selected {
  background-color: --wofi-color10;
}

#text {
  margin: 2px;
}

/* Hide backspace icon */
.right {
  color: transparent;
}

